:root {
    --background-color: #111111;
    --swiper-theme-color: #cecac0;
    --color: #cecac0;
    --background-scrollbar-track: #cecac017;
    --main-color: #232323;
    --secundary-color: #1c1c1c;
}

.dayTheme {
    --background-color: #c7c7c7;
    --swiper-theme-color: #4a4a4a;
    --color: #4a4a4a;
    --background-scrollbar-track: #cecac017;
    --main-color: #f4f4f4;
    --secundary-color: #e2e2e2;
}

* {
    font-family: Arial, Helvetica, sans-serif, Inter;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color);
}

.disable {
    opacity: 0.5;
    pointer-events: none;
    cursor: unset;
}

.cvApplicationContainer {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.showOnlyPreview {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goBackOnlyPreviewBtn {
    border: none;
    background: var(--main-color);
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.goBackOnlyPreviewBtn svg {
    color: var(--color);
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: var(--color);
}

::-webkit-scrollbar-thumb {
    background: var(--background-scrollbar-track);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--background-scrollbar-track);
}

@media (max-width:450px) {
    .cvApplicationContainer {
        padding: 0px;
    }
}